@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

:root {
  --bg: #fafafa;
  --super-dark: #30373e;
  --grey: #adb5bd;
  --stroke: #d3d7db;
  --text-font: "Open Sans", sans-serif;
  --title-font: "Montserrat", sans-serif;

  --purple-dark: #5a27f2;
  --purple--main: #845ef7;
  --purple--light: #e1d4ff;
  --purple--super-light: #f8f5ff;
}

body {
  padding: 0;
  margin: 0;
}

main {
  width: 100%;
  display: flex;
  color: #000000;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;


}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 5px red;
  }

  50% {
    box-shadow: 0 0 10px red;
  }

  100% {
    box-shadow: 0 0 5px red;
  }
}

@keyframes colorChange {
  0% {
    background-color: var(--purple--main);
  }

  50% {
    background-color: var(--purple-dark);
  }

  100% {
    background-color: var(--purple--main);
  }
}

#menu__opcoes {
  display: none;
  background-color: #ffffff;
  position: absolute;
  width: 320px;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px 20px 40px 20px;
  border-radius: 0px 0px 16px 16px;
  animation: fadeInUp 150ms linear;

  li {
    cursor: default;
  }
}

.menu ul button:hover {
  background-color: var(--purple--super-light);
}

.menu ul button:focus,
.menu ul button:active {
  color: white;
  background-color: var(--purple--main);
}

.menu ul li {
  list-style: none;
  margin: 10px 0 15px 0;
}

.menu__burguer,
.lupa,
button,
.servicos__servico__button svg {
  transition-duration: 150ms;
}

.menu__burguer:hover,
.lupa:hover {
  filter: invert(35%) sepia(94%) saturate(2292%) hue-rotate(236deg) brightness(101%) contrast(94%);
}

.menu__burguer:active,
.lupa:active {
  filter: invert(21%) sepia(86%) saturate(5865%) hue-rotate(254deg) brightness(92%) contrast(107%);
}

.voltar {
  cursor: pointer;
  margin: 0 0 15px 0;
  transition-duration: 150ms;
}

.voltar:hover {
  filter: opacity(70%);
}

.voltar:active {
  scale: 85%;
}

.search__close:hover {
  filter: invert(85%) sepia(94%) saturate(2292%) hue-rotate(236deg) brightness(101%) contrast(94%);
}

.search__close:active {
  filter: invert(100%) contrast(1000%);
}

.menu ul button {
  font-family: var(--title-font);
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  padding: 10px;
  list-style: none;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid var(--stroke);
  border-radius: 8px;
}

#search {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  border-radius: 0px 0px 32px 32px;
  background-color: var(--purple--super-light);
  z-index: 20;
  animation: fadeInUp 150ms linear;
}

.search__opcoes {
  display: flex;
  margin: 0;
  padding: 20px;
  align-items: center;
}

header {
  padding: 20px;
  width: -webkit-fill-available;
  display: grid;
  grid-template-areas: "menu logo lupa";
  background-color: var(--purple--super-light);
  align-items: center;
  border-radius: 0px 0px 32px 32px;

}


.menu {
  grid-area: menu;
  justify-self: start;
  z-index: 10;
}

.logo {
  grid-area: logo;
  justify-self: center;
}


.lupa {
  grid-area: lupa;
  justify-self: end;
}


.search__bar {
  line-height: 20px;
  background-color: transparent;
  width: 80%;
  margin: 0 0 0 20px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--grey);
}

.search__lupa__roxa {
  margin: 0 0 0 20px;
  cursor: pointer;
}

.search__close {
  margin: 0 0 0 20px;
  cursor: pointer;
}

.search__bar::placeholder {
  color: var(--grey);
}

.banner {
  background-image: url(assets/banner/varanda-mob.png);
  background-size: cover;
  width: 90%;
  border-radius: 24px;
  margin-top: 20px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.header-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


h2 {
  font-family: var(--title-font);
  font-weight: 400;
}


h1 {
  font-family: var(--title-font);
  font-weight: 800;
  font-size: 24px;
  width: 250px;
}

.banner__text {
  line-height: 19px;
  width: 198px;
  font-size: 14px;
  font-family: var(--text-font);
  font-weight: 600;
  margin-bottom: 20px;
}

.button-white {
  font-family: var(--title-font);
  width: 108px;
  height: 44px;
  font-weight: 700;
  font-size: 14px;
  color: var(--purple--main);
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid var(--purple--main);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-purple {
  width: 108px;
  height: 44px;
  font-family: var(--text-font);
  font-weight: 700;
  font-size: 14px;
  border: 1px solid transparent;
  color: #ffffff;
  border-radius: 8px;
  background-color: var(--purple--main);
  padding: 13px 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-purple:hover,
.footer-acordo button:hover {
  border: 4px solid var(--purple-dark);
}

.button-purple:focus,
.footer-acordo button:focus {
  border-color: var(--purple--light);
}

.button-purple:active,
.footer-acordo button:active,
.button-white:active {
  color: #ffffff;
  background-color: var(--purple-dark);
  border-color: var(--purple-dark);
}

.button-white:focus {
  padding: calc(13px -3px) calc(32px - 3px);
  color: #ffffff;
  border: 4px solid var(--purple--super-light);
  background: var(--purple--main);
}

.button-white:hover {
  color: var(--purple-dark);
  border-color: var(--purple-dark);
}

.banner__container {
  animation: fadeInUp 2s ease-out forwards;
  position: relative;
  padding: 20px 40px 60px 20px;
}

h1,
.banner__text {
  animation: fadeInUp 2s;
}

.banner button {
  width: 182px;
  height: 44px;
  animation: colorChange 2s infinite;
  font-family: var(--title-font);
}

.modo__buttons-container {
  display: grid;
  width: 100%;
  justify-items: center;
  grid-template-columns: 48% 48%;
  justify-content: space-between;

  button {
    width: 100%;
  }
}

.footer-acordo button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 14px;
  width: 100%;
  height: 44px;
  border: none;
  color: #ffffff;
  border-radius: 8px;
  background-color: var(--purple--main);
  padding: 13px 32px;
}

.modo span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.paragraph-text {
  font-family: var(--text-font);
  font-weight: 400;
  margin: 10px 0 15px 0;
  width: 89%;
  font-size: 14px;
  line-height: 23px;
}

.modo__container p {
  font-family: var(--text-font);
  font-weight: 400;
  margin: 10px 0 15px 0;
  font-size: 14px;
  line-height: 24px;
  width: 102%;
}

.modo__container h3 {
  font-family: var(--text-font);
  font-weight: 700;
  font-size: 14px;
  margin: 10px 0 0 0;
}

.modo__container {
  width: 95%;
}

.tabs {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 10px;
}

.tabs__action {
  background-color: var(--purple--light);
  font-family: var(--title-font);
  width: 170px !important;
  font-weight: 600;
  border: none;
  padding: 14px 16px;
  border-radius: 8px;
  transition: 0.3s;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs__action:hover {
  background-color: #c7b0ff;
}

.tabs__action.active {
  background-color: var(--purple-dark);
  color: white;
}

.sobre__info {
  display: none;
  justify-content: center;
}

.sobre button {
  width: 93%;
  margin: 20px 0 40px 0;
}

.modo span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sobre {
  width: 100%;
  background-color: var(--bg);
  margin: 30px 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: var(--text-font);
}

.sobre__desc {
  width: 90%;

  p {
    width: 99%;
  }
}

.sobre__desc h2 {
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 32px;
  margin: 10px 0 10px 0;
}

.paragraph-text {
  font-family: var(--text-font);
  font-weight: 400;
  margin: 10px 0 15px 0;
  width: 89%;
  font-size: 14px;
  line-height: 23px;
}

.modo__container p {
  font-family: var(--text-font);
  font-weight: 400;
  margin: 10px 0 15px 0;
  font-size: 14px;
  line-height: 24px;
  width: 102%;
}

.modo__container h3 {
  font-family: var(--text-font);
  font-weight: 700;
  font-size: 14px;
  margin: 10px 0 0 0;
}

.modo__container {
  width: 95%;
}

.sobre__text {
  border: 1px solid var(--stroke);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 16px;
}

.sobre__banner {
  width: 90%;
  overflow: hidden;
  display: grid;
  grid-template-rows: 150px 1fr;
  text-align: center;
  border-radius: 16px;
  margin-bottom: 10px;


}

.sobre__info__container p {
  margin: 10px 0 15px 10px;
}

.sobre__banner img {
  object-fit: cover;
  width: 100%;
}

.sobre__info__content {
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  border: 1px solid var(--stroke);
  border-radius: 16px;
  background-color: #ffffff;
}

.sobre__info__content img {
  width: 55px;
  margin: 15px 0 0 10px;
  height: 65px;
}

h3 {
  font-family: var(--text-font);
  font-weight: 700;
  font-size: 14px;
  margin: 15px 20px 0 10px;
  letter-spacing: 0.01em;
  line-height: 25px;
  width: auto;
  text-align: left;
  align-self: start;
}

.servicos__servico__subtitle {
  color: var(--purple-dark);
  font-family: var(--text-font);
  font-weight: 700;
  font-size: 14px;
  margin: 15px 0 5px 20px;
}

.servicos__servico__button svg path:hover,
.servicos__servico__button svg path:active {
  fill: #ffffff;
}

.servicos__servico__button svg {
  border: 1px solid var(--purple--main);
  border-radius: 8px;
}

.servicos__servico__button svg:hover {
  border: none;
  background: var(--purple--main);
}

.servicos__servico__button svg:active {
  background: var(--purple-dark);
  border: none;
}

.modo {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modo h2 {
  width: 220px;
}

.modo__banner img {
  width: 100%;
  border-radius: 24px;
}

.modo__banner {
  margin: 20px 0 10px 0;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup__content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  position: relative;
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.vantagens {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: -webkit-fill-available;
  padding: 15px 20px 15px 20px;
  background-color: var(--bg);
  margin: 50px 0 15px 0;

  h2 {
    align-self: flex-start;
    margin: 0px;
  }
}

.vantagens__vantagem {
  display: flex;
  align-items: flex-start;
  border: 1px solid var(--stroke);
  border-radius: 16px;
  justify-content: center;
  background-color: #ffffff;
  transition-duration: 0.3s;
}

.vantagens__vantagem:hover {
  margin-top: -10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.vantagens__vantagem__text {
  font-family: var(--text-font);
  font-size: 14px;
  font-weight: 400;
  margin: 20px 10px 20px 10px;
  width: 65%;
}

.vantagens__vantagem img {
  margin: 15px 15px 0 0px;
}

.servicos {
  display: flex;
  width: -webkit-fill-available;
  padding: 0 20px 0 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  h2 {
    align-self: flex-start;
  }
}

.servicos__servico {
  display: flex;
  flex-direction: column;
}

.servicos p {
  margin: 0px 0 20px 20px;
  padding: 0;
}

.servicos__servico__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  transition-duration: 150ms;
  height: 100%;
  border-radius: 0 0 16px 16px;
  background-color: var(--bg);

}

.servicos__servico button {
  background-color: transparent;
  border: none;
  padding: 20px;
  cursor: pointer;
}

.servicos__servico__imagem {
  border-radius: 16px 16px 0 0;
}

.servicos__servico__imagem:hover~.servicos__servico__container {
  transform: translateY(-20px);
}

footer {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.footer-title {
  color: #ffffff;
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 32px;
  margin: 15px 0 15px 0;
}

footer form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.footer-links {
  width: 90%;
}

footer form input {
  padding: 15px;
  margin: 20px 0 0 0;
  background-color: var(--super-dark);
  color: var(--grey);
  border-radius: 8px;
  border: none;
  outline: none;
}

footer form input::placeholder {
  color: var(--grey);
  margin: 10px 0 0 0;
}

form select {
  background-image: url(assets/icons/select-svg.svg);
  background-repeat: no-repeat;
  background-position: 93% 50%;
  appearance: none;
  background-color: var(--super-dark);
  color: var(--grey);
  border-radius: 8px;
  border: none;
  padding: 15px 15px 15px 10px;
  margin: 20px 0 0 0;
}

form input,
form select {
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

form input.error,
form select.error {
  border: 1px solid red;
  animation: pulse 1s infinite;
  box-shadow: 0 0 5px red;
}

form span {
  color: #ffffff;
  display: flex;
  align-items: center;
  margin: 20px 0 20px 0;
}

#checkbox {
  width: 24px;
  height: 24px;
  margin: 0;
  cursor: pointer;
}

span label {
  font-family: var(--text-font);
  font-size: 12px;
  margin: 0 0 0 10px;
  font-weight: 400;
}

footer p {
  font-family: var(--text-font);
  font-size: 14px;
  line-height: 25px;
  color: #ffffff;
  align-self: flex-start;
  width: 90%;
  margin: 20px 0 20px 20px;
}

.footer-links__logo {
  margin: 20px 0 10px 0;
  width: 106px;
  height: 58px;
}

.links {
  width: 90%;
  list-style: none;
  padding: 0;
  font-family: var(--title-font);
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.links li a {
  list-style: none;
  text-decoration: none;
}

.links li {
  margin: 15px 0 0 0;
}

.footer-links a {
  text-decoration: none;
  transition: color 0.3s, border-bottom 0.3s;
  position: relative;
}

.footer-links a:hover {
  color: var(--purple-dark);
  border-bottom: 2px solid var(--purple-dark);
}

.footer-links a:active {
  color: #3a1a9d;
}

.link__linha__branca:hover {
  border-bottom: 2px solid #fff;
  color: #fff;
}

.link__linha:hover {
  border-bottom: 2px solid var(--purple-dark);
  color: var(--purple-dark);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url(assets/icons/calendario-icon.svg);
}

.link__linha {
  cursor: pointer;
  padding-bottom: 5px;
  height: 20px;
  color: var(--purple--main);
  border-bottom: 1px solid var(--purple--main);
}

.link {
  color: #ffffff;
}

.link__linha__branca {
  padding-bottom: 5px;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.footer-links__social {
  width: 90%;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 30px 0 30px 0;
}

.footer-links__social li a {
  border: none;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin: 0 30px 0 0;
  background-color: white;
  transition-duration: 200ms;
}

.footer-links__social a:hover {
  border-bottom: none;
}

.footer-links__social li:first-child:hover a {
  background: linear-gradient(45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%);
}

.servicos__grid {
  display: grid;
  gap: 20px;
}

.vantagens__containers {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.footer-links__social li:nth-child(2):hover a {
  background: linear-gradient(45deg, #1877f2, #00a1f1);
}

.globo {
  grid-area: globo;
}

.caderneta {
  grid-area: caderneta;
}

.diatodo {
  grid-area: diatodo;
}

.mapa {
  grid-area: mapa;
}

.aviao {
  grid-area: aviao;
}

.calendario {
  grid-area: calendario;
}

.terra {
  grid-area: terra;
}

@media (min-width: 768px) {
  .menu__burguer {
    img {
      width: 30px;
    }
  }

  .lupa {

    img {
      width: 24px;
    }
  }

  .search__bar {
    font-size: 18px;
  }

  .vantagens {
    padding: 40px 40px 15px 40px;

    h2 {
      margin-bottom: 20px;
    }
  }

  header {
    padding: 10px 35px;
  }

  .menu ul button {
    font-size: 18px;
    margin: 10px 30px 10px 30px;
    padding: 20px;
  }

  .voltar {
    margin: 0 0 30px 30px;
    width: 20px;
  }

  .logo {
    width: 73px;
  }

  .button-white:focus {
    border: 4px solid var(--purple--light);
  }

  #menu__opcoes {
    width: 420px;
  }

  h1 {
    font-size: 72px;
    width: 300px;
  }

  .banner__container {
    padding: 0px 40px 60px 30px;
  }

  .banner {
    background-position: center;
    margin-top: 40px;
    width: 85%;
  }

  .banner__text {
    font-size: 24px;
    width: 355px;
    line-height: 130%;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .footer-acordo button {
    width: 30%;
    height: 58px;
    border-radius: 16px;
    font-size: 18px;
  }

  .modo__buttons-container {
    grid-template-columns: 30% 55%;
    justify-content: space-between;
    width: 45%;
  }

  .banner button {
    font-size: 18px;
    width: 210px;
    height: 58px;
  }

  main {
    margin-top: 20px;
  }

  h2 {
    font-size: 48px;
    margin: 50px 0 25px 0;
  }

  .paragraph-text {
    font-size: 18px;
    margin: 10px 0 30px 0;
    line-height: 32px;
  }

  .sobre__desc {
    width: 85%;
  }

  .sobre__banner {
    width: 85%;
    grid-template-rows: 445px 170px;
    border-radius: 24px 24px 34px 34px;

    img {
      content: url("assets/banner/sobre-nos-tablet.png");
    }

  }

  .sobre__text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px 30px 30px;
    border-radius: 32px;
  }

  .sobre button {
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 18px;
    margin: 20px;
    width: 20%;
    border-radius: 8px;
    padding: 18px 32px;
  }

  .sobre__desc p {
    width: 95%;
  }

  h3 {
    line-height: 180%;
    align-self: center;
    letter-spacing: 0.01em;
    width: 80%;
    font-size: 18px;
  }

  .modo {
    width: 85%;
  }

  .modo__container h3 {
    line-height: 32px;
    font-size: 24px;
    margin: 30px 0 0 0;
  }

  .sobre__info__content {
    width: 85%;
    flex-direction: row;
    align-items: center;
    padding: 30px 0 30px 0px;
    border-radius: 32px;
  }

  .servicos__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 362px;
  }

  .modo__container p {
    font-size: 16px;
    line-height: 32px;
  }

  .sobre__info__content img {
    width: 108px;
    height: 120px;
    margin-left: 45px;
  }

  .sobre {
    padding: 0 0 30px 0;
    width: 100%;
  }

  .modo h2 {
    width: 500px;
  }

  .modo__banner {
    margin: 20px 0 10px 0;

    img {
      content: url("assets/banner/modo-tablet.png");
    }
  }

  .modo span {
    display: grid;
    width: 50%;
    grid-template-columns: 1fr 2fr;
    gap: 48px;
    margin-top: 10px;
  }

  .vantagens__vantagem img {
    width: 58px;
    height: 60px;
    margin: 0 20px 0 10px;
    align-self: start;
  }

  .vantagens__vantagem {
    border-radius: 32px;
    margin: 0;
    align-items: center;
    padding: 24px 10px 24px 10px;
    letter-spacing: 0.01em;
  }

  .vantagens__vantagem__text {
    line-height: 32px;
    font-size: 16px;
    width: 73%;
    margin: 0;
  }

  .vantagens__containers {
    margin-top: 15px;
    justify-content: center;
    display: grid;
    padding-bottom: 50px;
    gap: 20px;
    grid-template-rows: 120px 275px 10px 120px 0px 0px 15px 275px 135px;
    grid-template-columns: 44% 56%;
    grid-template-areas:
      "globo caderneta"
      "globo calendario"
      "globo diatodo"
      "mapa diatodo"
      "mapa terra"
      "mapa terra"
      "aviao terra"
      "aviao terra"
      "aviao .";
  }

  .servicos {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .servicos__servico__container p {
    width: 112%;
    font-size: 16px;
    margin: 0 0 20px 20px;
  }

  .footer-title {
    font-size: 48px;
    margin: 50px 0 0 0px;
  }

  footer form input,
  form select {
    padding: 20px;
    font-size: 16px;
    margin: 20px 0 0 0;
  }

  form select {
    background-position: 95% 50%;
  }

  footer form {
    align-self: flex-start;
    width: 75%;
    margin-left: 50px;
  }

  .footer-acordo {
    align-self: flex-start;
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
    gap: 20px;
    margin: 40px 0 10px 0;
  }

  .footer-acordo label {
    font-size: 14px;
  }

  .item-1 {
    grid-area: item-1;
  }

  .item-2 {
    grid-area: item-2;
  }

  .item-3 {
    grid-area: item-3;
  }

  .item-4 {
    grid-area: item-4;
  }

  .footer-links {
    margin-bottom: 50px;
    display: grid;
    grid-template-areas:
      "item-1 . ."
      "item-4 item-2 item-3";
    width: 80%;
    margin-left: 50px;
    align-self: start;
  }

  .midbutton {
    width: auto;
    font-size: 18px;
    margin: 0;
  }

  .servicos__servico__subtitle {
    font-size: 24px;
    margin: 15px 0 10px 20px;
  }

  footer p {
    font-size: 16px;
    margin-left: 50px;
    width: 75%;
  }

  footer li {
    font-size: 18px;
  }

  .sobre__info__container {
    margin-left: 35px;
    width: 80%;
  }

  .sobre__info__container p {
    width: 90%;
    font-size: 16px;
    margin: 8px 0 0 10px;
    padding: 0;
  }
}

@media (min-width: 1920px) {
  #menu__opcoes {
    display: flex;
  }

  header {
    grid-template-areas: "logo menu lupa";
    padding: 10px 70px;

    .logo {
      justify-self: flex-start;
      width: 106px;
    }

    .menu__burguer {
      display: none;
    }

    #menu__opcoes {
      width: auto;
      background-color: transparent;
      position: static;
      padding: 0px;

      .voltar {
        display: none;
      }

      li {
        margin: 0px;

      }
    }

    .search__bar {
      font-size: 20px;
    }

    .search__opcoes {
      height: 62px;
      font-size: 118px;
    }
  }

  .banner {
    background-image: url(assets/banner/varanda.png);
    width: 93%;
  }

  h1 {
    width: 837px;
  }

  .banner__text {
    width: 680px;
  }

  .tabs {
    display: none;
  }

  .sobre__info {
    display: flex;
  }

  .sobre {
    display: grid;
    grid-template-areas: 'desc banner' 'consultoria banner' 'servicos banner';
    justify-content: center;
    width: auto;
    gap: 40px;
    padding: 75px;

    button {
      width: 108px;
      height: 58px;
    }

    .sobre__info__content {
      width: auto;
      margin: 0;
      padding: 40px 60px;

      img {
        width: 190px;
        height: 165px;
      }
    }

    .sobre__desc {
      grid-area: desc;
      width: auto;

      h2 {
        font-size: 48px;
      }

      p {
        margin: 0;
      }
    }

    .sobre__banner {
      grid-area: banner;
      width: 868px;
      grid-template-rows: 610px 245px;
      margin-top: auto;

      h3 {
        font-size: 18px;
        width: 478px;
      }
    }

    #Servicos {
      grid-area: servicos;
    }

    #Consultoria {
      grid-area: consultoria;
    }
  }

  h3 {
    font-size: 24px;
  }

  .modo {
    display: grid;
    width: -webkit-fill-available;
    padding: 0 60px;
    grid-template-areas: 'title title' 'container banner' 'buttons banner';
    justify-content: space-between;

    h2 {
      grid-area: title;
    }

    .modo__banner {
      grid-area: banner;
      width: 868px;
      height: 427px;
    }

    .modo__container {
      grid-area: container;
      width: 758px;

      p {
        font-size: 18px;
      }
    }

    .modo__buttons-container {
      grid-area: buttons;

      button {
        font-size: 18px;
        padding: 32px 18px;
      }

    }
  }

  .vantagens__containers {

    font-size: 18px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "globo globo globo caderneta diatodo "
      "mapa aviao aviao aviao calendario"
      "terra terra terra terra calendario"
      "terra terra terra terra calendario"
    ;

  }

  .vantagens__vantagem {
    align-items: start;
    justify-content: start;
    padding: 40px;
  }

  .vantagens__vantagem__text {
    width: auto;
  }

  .vantagens__containers {
    width: auto;
  }

  .servicos__grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 330px;
  }

  .servicos {
    width: -webkit-fill-available;
    padding: 0 40px 15px 40px;
  }

  .servicos__servico__imagem {
    height: 165px;
    object-fit: cover;
  }

  .servicos__servico:nth-child(6) {
    .servicos__servico__imagem {
      content: url(assets/servicos/medidor-desktop.png);
    }
  }

  .servicos__servico:nth-child(4) {
    .servicos__servico__imagem {
      content: url(assets/servicos/empilhador-desktop.png);
    }
  }

  .servicos__servico__container {
    padding: 20px;

    p {
      width: auto;
    }
  }

  footer {
    display: grid;
    grid-template-areas: "links form p";
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;

    form {
      grid-area: form;
      width: 85%;
    }

    p {
      grid-area: p;
      line-height: 32px;
      margin-bottom: 30px;
      margin-top: 130px;
    }

    .footer-links {
      grid-area: links;
      display: flex;
      flex-direction: column;
    }

  }
}